# Mysql with Python

In [1]:
# importing the libraries

import mysql.connector as sql

### Creating databases and its operation

In [2]:
# Creating connection with Mysql

connection=sql.connect(
host='localhost',
user='scooby',
password='*******'
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002391E41D2A0>

In [3]:
#creating cursor
#which is used to execute query

cursor=connection.cursor()

In [4]:
#Creating a database

cursor.execute('create database mysql_learning')

In [5]:
# showing all databases in mysql

cursor.execute('show databases')

for database in cursor:
    print(database)

('company',)
('information_schema',)
('mysql',)
('mysql_learning',)
('performance_schema',)
('students',)
('sys',)
('world',)

In [10]:
# droping the created database

cursor.execute('drop database world')

In [11]:
# showing all databases in mysql after drop

cursor.execute('show databases')

for database in cursor:
    print(database)

('company',)
('information_schema',)
('mysql',)
('mysql_learning',)
('performance_schema',)
('students',)
('sys',)

In [12]:
# using the created database

cursor.execute('use mysql_learning')

### Creating tables and inserting records

In [13]:
# creating a table

cursor.execute('create table movie(id int auto_increment, movie_name varchar(25) not null, released_date date not null,primary key(id))')

In [14]:
# inserting records into this table

query="insert into movie(movie_name,released_date) values (%s,%s)"
value=('jurassic world','2021-01-12')

cursor.execute(query,value)

In [15]:
# retriving the inserted records

cursor.execute("select * from movie")

cursor.fetchall()

[(1, 'jurassic world', datetime.date(2021, 1, 12))]

In [16]:
# inserting many records into the table

query="insert into movie(movie_name,released_date) values (%s,%s)"
value=[('Bahubali','2019-12-01'),
       ('Fast and Furious','2015-07-15'), 
       ('Gangubai','2022-11-29')]

cursor.executemany(query,value)

In [17]:
# retriving the inserted records

cursor.execute("select * from movie")

cursor.fetchall()

[(1, 'jurassic world', datetime.date(2021, 1, 12)),
 (2, 'Bahubali', datetime.date(2019, 12, 1)),
 (3, 'Fast and Furious', datetime.date(2015, 7, 15)),
 (4, 'Gangubai', datetime.date(2022, 11, 29))]

In [19]:
# retriving one record at a time

cursor.execute('select * from movie')

cursor.fetchone()

(1, 'jurassic world', datetime.date(2021, 1, 12))